body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.link {
  cursor: pointer;
}

caption {
  font-size: 1.5em;
}

tr.link:hover {
  background: #EEE;
}

th {
  text-align: center;
}

footer {
  position: relative;
}

.footer {
  bottom: 0;
  height: 60px;
  line-height: 60px;
  background-color: #1c1e22;
  color: inherit;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 6px;
}

.img-thumbnail {
  max-width: 200px;
}

.star-rating {
  margin: 20px auto;
}

.star-rating-star-wrapper {
  display: inline-block;
  margin: 0 2px;
}

.star-rating-star {
  width: 25px;
  height: 25px;
  cursor: pointer;
}