body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tooltip {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip.right {
  top: 15px;
  left: 110%;
}

.tooltip.right:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip.left {
  top: 15px;
  right: 110%;
}

.tooltip.left:after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip.top {
  bottom: 80%;
  left: 50%;
  /*margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip.top:after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip.bottom {
  top: 80%;
  left: 50%;
  /*margin-left: -75px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip.bottom:after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}